@use './colors' as *;

@keyframes bounce {
	0% {
		top: 25%;
	}
	50% {
		top: 75%;
		background-color: $white;
	}
	100% {
		top: 25%;
	}
}

@mixin translate($name, $from, $to, $duration) {
	@keyframes #{$name} {
		from {
			translate: $from;
		}
		to {
			translate: $to;
		}
	}
	animation: $name $duration;
}

@mixin opacity($name, $from, $to, $duration) {
	@keyframes #{$name} {
		from {
			opacity: $from;
		}
		to {
			opacity: $to;
		}
	}
	animation: $name $duration;
}
